name: Deploy Bicep Infrastructure

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Select environment to deploy'
        required: true
        default: 'd'
        type: choice
        options:
          - d
          - t
          - a
          - p
      stage:
        description: 'Which stage to run?'
        type: choice
        options:
          - Network
          - keyvault
          - Appgateway
        default: Network

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: vpps-${{ github.event.inputs.environment }}

    env:
      ENV: ${{ github.event.inputs.environment }}
      RESOURCE_GROUP: mmt-${{ github.event.inputs.environment }}
      VNET_NAME: ${{ vars.VNET_NAME }}
      AKS_SUBNET_NAME: ${{ vars.AKS_SUBNET_NAME }}
      PLE_SUBNET_NAME: ${{ vars.PLE_SUBNET_NAME }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Deploy Network
        if: ${{ githu
