name: SonarCloud Python Scan

on:
  push:
    branches:
      - main

jobs:
  sonar:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v5
        env:
          SONAR_TOKEN: b749d8133e7d8b1444ada9c7d61d4297ad611d0b
        with:
          args: >
            -Dsonar.projectKey=maniteja333_task
            -Dsonar.organization=manitejasnqtest
            -Dsonar.host.url=https://sonarcloud.io
            -Dsonar.sources=.
            -Dsonar.python.version=3.10



